
@{
    ViewData["Title"] = "Order & Eating";
}

<div>
    <h1>Inicio</h1>
</div>
<div class="form-group inline">
    <h4 class="form-control-static">Arroces</h4>
    <a asp-action="Arroz" asp-controller="Menu" class=" btn btn-primary">Ver!</a>
    <h4>Carnes</h4>
    <a asp-action="Carne" asp-controller="Menu" class="btn btn-primary">Ver!</a>
    <h4>Legumbres</h4>
    <a asp-action="Legumbre" asp-controller="Menu" class="btn btn-primary">Ver!</a>
    <h4>Ensaladas</h4>
    <a asp-action="Ensalada" asp-controller="Menu" class="btn btn-primary">Ver!</a>
    <h4>Comida Frita</h4>
    <a asp-action="ComidaFrita" asp-controller="Menu" class="btn btn-primary">Ver!</a>
    <h4>Sopas y Salcochos</h4>
    <a asp-action="Sopa" asp-controller="Menu" class="btn btn-primary">Ver!</a>
    <h4>Postres</h4>
    <a asp-action="Postre" asp-controller="Menu" class="btn btn-primary">Ver!</a>
</div>